
# REAPER
AutomationItems/
ColorThemes/
Cursors/
Data/
Effects/
FXChains/
#KeyMaps/
LangPack/
#MIDINoteNames/
MetadataCaches/
MouseMaps/
OSC/
ProjectBays/
ProjectTemplates/
QueuedRenders/
Scripts/
#TrackTemplates/
UserPlugins/
presets/
reaper-auplugins_arm64-bc.ini
reaper-auplugins_arm64.ini
reaper-clap-macos-aarch64.ini
reaper-fxtags.ini
reaper-install-rev.txt
reaper-jsfx.ini
reaper-kb.ini
reaper-license.rk
#reaper-menu.ini
reaper-mouse.ini
reaper-pinstates.ini
reaper-recentfx.ini
reaper-reginfo2.ini
reaper-vstplugins_arm64.ini
reaper-wndpos.ini
reaper.ini


