# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 2
indent_style = space
trim_trailing_whitespace = false

[LICENSE]
indent_size = unset

[*.bat]
end_of_line = crlf

## GNU Make

# Indentation outside of a target's commands must be spaces, leading to mixed tabs/spaces
# https://stackoverflow.com/a/4713737/112682

[Makefile]
indent_size =
indent_style =

[*.mk]
indent_size =
indent_style =

## Markdown

[*.md]
indent_size = unset
max_line_length = unset
trim_trailing_whitespace = false
